<div><app-navbar-consultant></app-navbar-consultant></div>
<section class="v-principal-page container">
  <div class="row">
    <ol aria-current="true" *ngFor="let breadcrumb of itemBreadCrumb; let index = index" class="bread-crumb">
      <li class="breadcrumb-item">
        <a href="{{ breadcrumb.href }}" [ngClass]="itemBreadCrumb.length - 1 != index ? 'inactive' : 'active'">{{ breadcrumb.page }}</a>
        <span *ngIf="itemBreadCrumb.length - 1 != index" class="dash-breadcrumb">/</span>
      </li>
    </ol>
  </div>
  <router-outlet></router-outlet>
</section>
