<section class="v-search-product container">
  <div class="l-groups u-flex">
    <div class="c-images">
      <figure>
        <a tabindex="1" 
          (keypress)="selectGroup(groups?.bathCategory)" 
          (click)="selectGroup(groups?.bathCategory)">
          <img src="./assets/img/home/bath.png" alt="">
        </a>
      </figure>
      <h4>{{groups?.bathCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="2"
          (keypress)="selectGroup(groups?.feedingCategory)" 
          (click)="selectGroup(groups?.feedingCategory)">
          <img src="./assets/img/home/feeding.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.feedingCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="3" 
          (keypress)="selectGroup(groups?.livingPlaceCategory)"
          (click)="selectGroup(groups?.livingPlaceCategory)">              
          <img src="./assets/img/home/livingplace.png" alt="">
        </a>
      </figure>
      <h4>{{groups?.livingPlaceCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="4" 
          (keypress)="selectGroup(groups?.therapyCategory)"
          (click)="selectGroup(groups?.therapyCategory)">              
          <img src="./assets/img/home/therapy.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.therapyCategory?.name}}</h4>
    </div>
  </div>
  <div class="l-groups u-flex">
    <div class="c-images">
      <figure>
        <a tabindex="5" 
          (keypress)="selectGroup(groups?.technologyCategory)"
          (click)="selectGroup(groups?.technologyCategory)">
          <img src="./assets/img/home/technology.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.technologyCategory?.name}}</h4>
    </div>
    <div class="c-images text-center">
      <figure>
        <a tabindex="6" 
          (keypress)="selectGroup(groups?.jobCategory)"
          (click)="selectGroup(groups?.jobCategory)">              
          <img src="./assets/img/home/job.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.jobCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="7" 
          (keypress)="selectGroup(groups?.mobilityCategory)"
          (click)="selectGroup(groups?.mobilityCategory)">
          <img src="./assets/img/home/mobility.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.mobilityCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="8" 
          (keypress)="selectGroup(groups?.clothingCategory)"
          (click)="selectGroup(groups?.clothingCategory)">              
          <img src="./assets/img/home/clothing.png" alt="">
        </a>
      </figure>
      <h4>{{groups?.clothingCategory?.name}}</h4>
    </div>
  </div>
  <div class="l-groups u-flex">
    <div class="c-images">
      <figure>
        <a tabindex="9" 
          (keypress)="selectGroup(groups?.recreationCategory)"
          (click)="selectGroup(groups?.recreationCategory)">
          <img src="./assets/img/home/recreation.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.recreationCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="10" 
          (keypress)="selectGroup(groups?.sportCategory)"
          (click)="selectGroup(groups?.sportCategory)">              
          <img src="./assets/img/home/sport.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.sportCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="11" 
          (keypress)="selectGroup(groups?.trainingCategory)"
          (click)="selectGroup(groups?.trainingCategory)">                            
          <img src="./assets/img/home/training.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.trainingCategory?.name}}</h4>
    </div>
    <div class="c-images">
      <figure>
        <a tabindex="12" 
          (keypress)="selectGroup(groups?.artCategory)"
          (click)="selectGroup(groups?.artCategory)">              
          <img src="./assets/img/home/art.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.artCategory?.name}}</h4>
    </div>
  </div>
  <div class="l-groups u-flex">
    <div class="c-images">
      <figure>
        <a tabindex="13" 
          (keypress)="selectGroup(groups?.manyCategory)"
          (click)="selectGroup(groups?.manyCategory)">
          <img src="./assets/img/home/many.svg" alt="">
        </a>
      </figure>
      <h4>{{groups?.manyCategory?.name}}</h4>
    </div>
  </div>
</section>
