.c-item-state {
  .title-approved {
    margin-top: 2em;
  }
  .c-text-box {
    margin-left: 6em;
  }
  .ic-trash {
    margin-left: 2em;
  }
  h1 {
    color: #788998;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 6px;
  }
}
