<section class="l-list-user">
  <div class="row ml-4">
    <ol
      aria-current="true"
      *ngFor="let breadcrumb of itemBreadCrumb; let index = index"
      class="bread-crumb"
    >
      <li class="breadcrumb-item">
        <a
          href="{{ breadcrumb.href }}"
          [ngClass]="itemBreadCrumb.length - 1 != index ? 'inactive' : 'active'"
          >{{ breadcrumb.page }}</a
        >
        <span *ngIf="itemBreadCrumb.length - 1 != index" class="dash-breadcrumb"
          >/</span
        >
      </li>
    </ol>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="mx-auto title-container">
        <div class="d-flex mt-4">
          <i class="far fa-user-circle user-icon"></i>
          <h1 class="ml-3 title-page">Entidades por usuario</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 l-title">
    <article class="row">
      <div class="col-md-5 ml-4 mt-3 mb-3">
        <app-search-box
          class="c-text-box"
          (emitSearch)="getUserToSearch($event)"
        >
        </app-search-box>
      </div>
    </article>
  </div>

  <div class="row" class="c-list-user">
    <div
      class="col-md-12 c-user-info"
      *ngFor="
        let user of usersList
          | filter: userToSearch
          | paginate: {itemsPerPage: 6, currentPage: page}
      "
    >
      <div class="col-sm-10">
        <article>
          <span class="user-name">{{ user.user }}</span>
        </article>
        <p>
          <span class="user-name">Entidad a la que pertenece:</span>
          <span
            *ngFor="let organization of user.organizations; let index = index"
          >
            {{ organization.name }}
            <span *ngIf="index != user.organizations.length - 1; else dot"
              >,
            </span>
            <ng-template #dot> . </ng-template>
          </span>
        </p>
      </div>
      <div class="col-sm-2">
        <button
          class="no-style-btn"
          (click)="openModal(user)"
          [attr.aria-label]="'Editar organizaciones del usuario' + user.user"
          (keyup.enter)="openModal(user)"
          (keydown.enter)="openModal(user)"
        >
          <i class="fas fa-edit btn-icon" aria-label="Editar Usuario"></i>
        </button>
      </div>
    </div>
    <footer class="row l-footer-list-user">
      <div class="col-sm-8 offset-sm-2 c-pagination">
        <pagination-controls
          (pageChange)="page = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        >
        </pagination-controls>
      </div>
    </footer>
  </div>
</section>
<app-modal-user-organizations></app-modal-user-organizations>
<app-confirmation-modal></app-confirmation-modal>
