<section class="l-subSystems">
  <div class="c-title">
    <article>
      <h3>Subsistemas</h3>
    </article>
    <hr>
  </div>
  <div class="row l-listSubSystems">
    <div class="col-sm-2 c-images" (click)="goToListUsers(productsServicesIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{productsServices}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(igedaIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{igeda}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(ongIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{ong}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(sitramoIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{sitramo}}</h4>
    </div>
  </div>
  <div class="row l-listSubSystems">
    <div class="col-sm-2 c-images" (click)="goToListUsers(indicatorsIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{indicators}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(enadisIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{enadis}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(enahoIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{enaho}}</h4>
    </div>
    <div class="col-sm-2 c-images" (click)="goToListUsers(certificationsIndex)">
      <a>
        <i class="fa fa-image"></i>
      </a>
      <h4>{{certifications}}</h4>
    </div>
  </div>


</section>