#default-page-container {
  background-color: #ECF0F1 !important;
  width:100%;
  height: 91.5vh;

  img {
    width: 15em;
    margin: 8% 0;
  }
  img.coffee-cup {
    width: 13em;
    margin: 8% 0 8% 6%;
  }
  .c-block-1 {
    margin: 0 auto;
    width: 30em;
    text-align: center;
    button {
      cursor: pointer;
    }
  }
  .c-block-2 {
    margin: 0 auto;
    font-family: Helvetica;
    color: #34495E;
    width: 30em;
  }
  .default-page-editor-title{
    margin-top: 10px;
    height: 3.18%;
    opacity: 0.69;
    font-size: 29px;
    font-weight: bold;
    line-height: 29px;
  }
  .default-page-editor-text {
    margin-top: 10px;
    height: 51px;
    opacity: 0.69;
    font-size: 14px;
    line-height: 17px;
  }
  .default-page-editor-btn {
    margin-top: 10px;
    height: 40px;
    width: 215px;
    border-radius: 10px;
    background-color: #264A97;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
  }
}
