<div class="l-organization-search mx-auto">
  <h1 class="c-h1">ONG</h1>
  <div class="row">
    <div class="col-md-4">
      <span>Búsqueda por palabra clave</span>
    </div>
    <div class="col-md-8">
      <app-organization-searched-word></app-organization-searched-word>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <span>Búsqueda por región</span>
    </div>
    <div class="col-md-9">
      <app-organization-search-region></app-organization-search-region>
    </div>
  </div>

</div>